body {
    font-family: "Lucida Sans";
    background-image: url("img/chillvibras.png"); 
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    background-color: lightblue;
    text-align: center;
    border: 5px solid blue;
    padding: 10px;
}

h2 {
    color: white;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}

ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

li {
    display: inline-block;
    border: 2px solid orangered;
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    background-color: white;
}

a {
    color: orangered;
    text-decoration: none;
}